{% extends "base.html" %}


{% block content %}

<article>
    <section id="sec1">
    <div class="title">
        <h1>Life is Learning</h1>
        <!-- <div class="information"> -->
        <p>社会人としてスタートをきったあなたに、迷うことなく毎日一歩だけスキルアップさせていくのに必要なミッションと、心に刺さる偉人のひと言をお届けします</p>
        </div>
            
<!-- ここにスタートボタンが入りま-->
        <div class="start_botton">
            <a href="/index"><img class="start-img" src="../static/img/start.png" alt=""></a>
        </div>

        <div class="line_QR">
            <p class="line_word">このQRコードから友達追加すると、<br>LINEに通知が送れます</p>
            <img class="line_img" src="../static/img/Life-is-Learning QR.png" alt="">
        </div>
</section>


{% endblock %}